# Ignore system files
.*
*~

# Ignore Brewfile lock
Brewfile.lock.json

# Keep dotfiles
!.gitconfig
!.hushlogin
!.zshrc
!.hammerspoon/

# Keep git files
!.gitignore
!.gitattributes
!.gitmodules
!.gitkeep
