# Ignore cache.
.zsh/cache

# Ignore system files.
.*
*~

# Ignore Homebrew cache.
Brewfile.lock.json

# Keep the dotfiles.
!.omnisharp/
!.gitconfig
!.hushlogin
!.zsh/
!.zshrc
!.zshenv

# Keep git files.
!.gitignore
!.gitattributes
!.gitmodules
!.gitkeep
