# Ignore system files
.*
*~

# Ignore Brewfile lock
Brewfile.lock.json

# Keep dotfiles
!.hushlogin
!.zshrc
!.zshenv
!.zprofile
!.hammerspoon/
!.inputrc

# Keep git files
!.gitignore
!.gitattributes
!.gitmodules
!.gitkeep
